# Layered Docker install: stock AllScan + AllScan Reimagined
ALLSCAN_REPO_URL=https://github.com/davidgsd/AllScan.git
ALLSCAN_REPO_REF=main
ASR_NODE_NUMBER=12345
ASR_CALLSIGN=ASL3
ASR_AMI_HOST=allstarlink3
ASR_AMI_PORT=5038
ASR_AMI_USER=admin
ASR_AMI_PASS=change-me
ASR_REQUIRE_LOGIN=0
